body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    width: 50%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    width: 9vw;
    height: 9vh;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

table,
th,
td {
    border: 1px solid #0000001f;
}